.prContainer{
    flex: 4;
    padding: 20px;
}
.productContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.prHeder{
    font-weight: bold;
}
.prLink{
    
}
.prBtn{
    width: 70px;
    height: 26px;
    padding: 5px 7px;
    border: none;
    border-radius: 10px;
    background-color: teal;
    color: white;
}
.productInfo{
    display: flex;
    align-items: center;
}
.infoRightImg{
width: 160px;
height: 160px;
}
.infoLeft ,.infoRight{
    flex: 1;
}
.infoRight{

}