.prContainer{
    flex: 4;
    padding: 20px;
}
.productContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.prHeder{
    font-weight: bold;
}
.prLink{
    
}
.prBtn{
    width: 70px;
    height: 26px;
    padding: 5px 7px;
    border: none;
    border-radius: 10px;
    background-color: teal;
    color: white;
}
.productInfo{
    display: flex;
    align-items: center;
}
.infoRightImg{
width: 40px;
height: 40px;
border-radius: 100%;
}
.infoLeft ,.infoRight{
    flex: 1;
    
}
.infoRight{
box-shadow: 0px 0px 15px -10px rgba(0,0, 0, .75);
padding: 20px;
margin:20px;
}
.productDiscription{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:80px;
    margin-top: 3px;
}
.infoRightHeader{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;

}
.infoRingtTitle{
    font-weight: 800;
}
.disKey{
    font-weight: 500;
    font-size: medium;

}
.disValue{
    font-weight: 300;
}