.widget{
    flex: 1;
}
.widgetSm{
    padding: 30px;
    margin: 20px;
    box-shadow: 0px 0px 15px -10px;
    flex-grow: 1;
    
}
.widgetTitle{
    font-size: larger;
    font-weight: bold;
}
.widgetWapper{
    margin-top: 1em;
    
    
}
.widgetImg{
    width: 50px;
    height: 50px;
    border-radius: 100%;

}
.widgetLi{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    margin:30px 0px 10px 0px;
}
.widgetName{

}
.widgetPosition{
    color: rgb(216, 218, 218);
    width: 100px;
    height: 40px;
    font-size: smaller;
}
.widgetBtn{
display: flex;
align-items: center;
gap: 3px;
background-color: #eeeef7;
color: #555;
width: 75px;
height: 26px;
padding: 5px 7px;
border: none;
border-radius: 10px;
font-weight: 100;
}
.widgetIcon{
    color:#555 ;
    font-size: 14px!important
}
.widgetInfo{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.widgetLg{
    flex-grow: 3;
    padding: 30px;
    margin: 20px;
    box-shadow: 0px 0px 15px -10px;
}